.container
  .content.terms
    %h1 Terms of Use
    %ol
      %li
        Purpose – FieldEnable app and Truwood App (referred as “FieldEnable App” in this document) by Imaginnovate Techsolutions (India) Pvt Ltd ("Owner"), is an online portal and mobile phone application designed to support the locations where abouts of field staff and to provide notifications on members / users of the application on behalf of their employer.
      %li
        Terms of Use - These Terms & Conditions of Use ("Terms") apply to Owner Use of FieldEnable App agreement with the Terms. If there is no such agreement, there should be no use of the site or any other Owner products and services. Owner reserves the right, in its sole discretion, to modify the Terms without further notice and at any time. Continued use of Owner after any such change signifies acceptance of the new Terms. The Terms apply exclusively to access to, and use of, FieldEnable App.
        They do not alter the conditions of any other agreement with Owner for products, services, or otherwise.
      %li Privacy Policy - Users of FieldEnable App should refer to Owner's Privacy Policy for information about how Owner uses, collects and may disclose information to third parties. FieldEnable App Privacy Policy, which is hereby incorporated into this Agreement, explains how Owner treats your personal information, and protects your privacy, when you access FieldEnable App and use the Service.
      %li Description of the Service - The Service is allowing managers to track other Team members and share other information including locationof one another. In addition, the system may provide storage of other personal data in the system such as images, location information, messages etc.
      %li
        Owner Offers and Third-Party Links -
        Some parts of the Service may be supported by sponsored
        links from advertisers and display Owner
        Offers that may be custom matched to you based on
        information stored in the Service, queries made through the
        Service or other information. In connection with FieldEnable App Offers, the Service will provide links to other web sites
        belonging to Owner advertisers and other
        third parties. Owner does not endorse,
        warrant or guarantee the products or services available through
        the Owner Offers (or any other third-party
        products or services advertised on or linked from our site), and
        Owner is not an agent or broker or otherwise
        responsible for the activities or policies of those web sites.
        Owner does not guarantee that the loan,
        investment, plan or other service terms, rates or rewards
        offered by any particular advertiser or other third party on
        FieldEnable App are actually the terms that may be
        offered to you if you pursue the offer or that they are the best
        terms or lowest rates available in the market.
      %li
        Your Registration Information - You agree and understand
        that you are responsible for maintaining the confidentiality of
        your password which, together with your Mobile number allows you to access the Service. That Login ID and
        password, together with any mobile number or other contact
        information you provide form your "Registration Information". By
        providing us with your e-mail address and / or mobile phone
        number, you agree to receive such required notices
        electronically. It is your responsibility to update or change the
        notification destinations, email and / or mobile phone number,
        as appropriate. Notices will be provided in HTML (or, if your
        system does not support HTML, in plain-text) in the text of the
        e-mail or through a link to the appropriate page on our site,
        accessible through any standard, commercially available
        internet browser. If you become aware of any unauthorized use
        of your Registration Information, you agree to notify your manager to disable the account.
      %li
        Your Use of the Service - Your right to access and use
        Imaginnovate.com and the Service is personal to you
        and is not transferable by you to any other person or entity. You
        are only entitled to access and use
        FieldEnable App for lawful purposes. Accurate
        records enable Owner to provide the Service
        to you. You must provide true, accurate, current and complete
        information about your accounts maintained at other web sites,
        as requested in our "add account" setup forms, and you may
        not misrepresent your Registration Information. In order for the
        Service to function effectively, you must also keep your
        Registration Information up to date and accurate. If you do not
        do this, the accuracy and effectiveness of the Service to you
        will be affected. Your access and use of
        FieldEnable App may be interrupted from time to
        time for any of several reasons, including, without limitation, the
        malfunction of equipment, periodic updating, maintenance or
        repair of FieldEnable App or other actions that
        Owner, in its sole discretion, may elect to
        take.
      %li
        Online and Mobile Alerts - Owner may from
        time to time provide automatic alerts and voluntary account-
        related alerts. Automatic alerts are sent to you following certain
        changes made online to your FieldEnable App account,
        such as a change in your Registration Information. You do not
        need to activate these alerts. Although you may have the option
        to suppress some of these automatic alerts, we strongly
        recommend that you do not since they are security-related.
        Voluntary account alerts may be turned on by default as part of
        the Service. They may then be customized, deactivated or
        reactivated by you. These alerts allow you to choose alert
        messages for your accounts. Owner may add
        new alerts from time to time, or cease to provide certain alerts
        at any time upon its sole discretion. Each alert has different
        options available, and you may be asked to select from among
        these options upon activation of your alerts service.

        You can also choose to have alerts sent to a mobile device that
        accepts text messages. Changes to your email address or
        mobile number will apply to all of your alerts. Because alerts
        are not encrypted, we will never include your passcode.
        However, alerts may include your FieldEnable App
        Login ID and some information about your accounts.
        Depending upon which alerts you select, information such as
        an account balance or the due date for your credit card
        payment may be included. Anyone with access to your email
        will be able to view the content of these alerts. At any time you
        may disable future alerts.
      %li
        Rights You Grant to Us - As the owner of any information,
        data, passwords, usernames, PINs, other log-in information,
        materials or other content (collectively, "Accounts Content") you
        provide to us through the Service, you are licensing the
        Accounts Content to Owner solely for the
        purpose of providing the Service. Owner may
        use such Accounts Content, but only to provide the Service to
        you. By submitting Accounts Content, you represent that you
        are entitled to submit it to Owner for use for
        this purpose, without any obligation by FieldEnable App to pay any fees or other limitations. By using the
        Service, you expressly authorize Owner to
        access your Account Information maintained by identified third
        parties, on your behalf as your agent. When you use the "Add
        Accounts" feature of the Service, you will be directly connected
        to the website for the third party you have identified. FieldEnable App will submit information including usernames
        and passwords that you provide to log you into the site. You
        hereby authorize and permit Owner to use
        information submitted by you to the Service (such as account
        passwords and users names) to accomplish the foregoing and
        to configure the Service so that it is compatible with the third
        party sites for which you submit your information. For purposes
        of this Agreement and solely to provide the Account Information
        to you as part of the Service, you grant Owner a limited power of attorney, and appoint Owner as your attorney-in-fact and agent, to access third party sites, retrieve and use your information with the full
        power and authority to do and perform each thing necessary in
        connection with such activities, as you could do in person. YOU
        ACKNOWLEDGE AND AGREE THAT WHEN Owner IS ACCESSING AND RETRIEVING
        ACCOUNT INFORMATION FROM THIRD PARTY SITES,
        Owner IS ACTING AS YOUR
        AGENT, AND NOT AS THE AGENT OF OR ON BEHALF OF
        THE THIRD PARTY. You understand and agree that the
        Service is not sponsored or endorsed by any third parties
        accessible through the Service.
      %li
        Owner's Intellectual Property Rights -
        The contents of FieldEnable App, including its "look
        and feel" (e.g., text, graphics, images, logos and button icons),
        photographs, editorial content, notices, software (including
        html-based computer programs) and other material are
        protected under both India and other applicable
        copyright, trademark and other laws. The contents of
        FieldEnable App belong or are licensed to Owner or its software or content suppliers. Owner grants you the right to view and use
        FieldEnable App subject to these terms. You may
        download or print a copy of information provided on
        FieldEnable App for your personal, internal and
        non-commercial use only. Any distribution, reprint or electronic
        reproduction of any content from FieldEnable App
        in whole or in part for any other purpose is expressly prohibited
        without our prior written consent.
      %li Access and Interference You agree that you will not:
      %li
        %ol{ type: 'a' }
          %li
            Use any robot, spider, scraper, deep link or other similar
            automated data gathering or extraction tools, program,
            algorithm or methodology to access, acquire, copy or monitor
            FieldEnable App or any portion without Owner's express written consent, which may be
            withheld in Owner's sole discretion; 
          %li
            Use or attempt to use any engine, software, tool, agent, or other
            device or mechanism (including without limitation browsers,
            spiders, robots, avatars or intelligent agents) to navigate or
            search FieldEnable App, other than the search
            engines and search agents available through the Service and
            other than generally available third-party web browsers (such
            as Microsoft Explorer); 
          %li
            Post or transmit any file which
            contains viruses, worms, Trojan horses or any other
            contaminating or destructive features, or that otherwise
            interfere with the proper working of
            FieldEnable App or the Service; or 
          %li
            Attempt to decipher, decompile, disassemble, or reverse-engineer any of
            the software comprising or in any way making up a part of
            FieldEnable App or the Service.
          %li
            Users agree not to use or launch any automated system, including, without
            limitation, "robots," "spiders," "offline readers," etc., that
            accesses Owner and/or the FieldEnable App Services in a manner that sends more request
            messages to its servers in a given period of time than a human
            can reasonably produce in the same period by using a
            conventional on-line web browser. However, FieldEnable App does allow operators of public search engines to use
            spiders to copy materials from Owner for the
            sole purpose of creating publicly available searchable indices of
            the materials, but prohibits the creation of archives of such
            materials. Users agree not to collect any personally identifiable
            information, including account names, from FieldEnable App.
      %li
        Rules for Posting - As part of the Service, FieldEnable App may allow Members to post content on bulletin
        boards, blogs and at various other publicly available locations.
      %li
        %ol{ type: 'a' }
          %li You are responsible for all content you submit to FieldEnable App  
          %li
            By submitting content to us, you represent that you have all necessary rights and hereby
            grant us a perpetual, worldwide, non-exclusive, royalty-free,
            sub-licenseable and transferable license to use, reproduce,
            distribute, prepare derivative works of, modify, display, and
            perform all or any portion of the content in connection with
            FieldEnable App and our business, including
            without limitation for promoting and redistributing part or all of
            the site (and derivative works thereof) in any media formats and
            through any media channels. You also hereby grant each User
            a non-exclusive license to access your posted content through
            FieldEnable App, and to use, reproduce, distribute,
            prepare derivative works of, display and perform such content
            as permitted through the functionality of
            FieldEnable App and under this Agreement. 
          %li
            You may not post or transmit any message which is libellous or
            defamatory, or which discloses private or personal matters
            concerning any person. You may not post or transmit any
            message, data, image or program that is indecent, obscene,
            pornographic, harassing, threatening, abusive, hateful, racially
            or ethnically offensive; that encourages conduct that would be
            considered a criminal offence, give rise to civil liability or violate
            any law; or that is otherwise inappropriate.
          %li
            You may not post or transmit any message, data, image or program that
            would violate the property rights of others, including
            unauthorized copyrighted text, images or programs, trade
            secrets or other confidential proprietary information, and
            trademarks or service marks used in an infringing fashion.
          %li
            You may not interfere with other Users use of the Service,
            including, without limitation, disrupting the normal flow of
            dialogue in an interactive area of Imaginnovate.com,
            deleting or revising any content posted by another person or
            entity, or taking any action that imposes a disproportionate
            burden on the Service infrastructure or that negatively affects
            the availability of the Service to others.
      %li
        Except where expressly permitted, you may not post or transmit
        charity requests; petitions for signatures; franchises,
        distributorship, sales representative agency arrangements, or
        other business opportunities (including offers of employment or
        contracting arrangements); club memberships; chain letters; or
        letters relating to pyramid schemes. You may not post or
        transmit any advertising, promotional materials or any other
        solicitation of other users to use goods or services except in
        those areas (e.g., a classified bulletin board) that are
        designated for such purpose.

      %li
        %ol{ type: 'a' }
          %li
            Except where expressly permitted, you may not post or
            transmit charity requests; petitions for signatures; franchises,
            distributorship, sales representative agency arrangements, or
            other business opportunities (including offers of employment or
            contracting arrangements); club memberships; chain letters; or
            letters relating to pyramid schemes. You may not post or
            transmit any advertising, promotional materials or any other
            solicitation of other users to use goods or services except in
            those areas (e.g., a classified bulletin board) that are
            designated for such purpose.
          %li
            You agree that any
            employment or other relationship you form or attempt to form
            with an employer, employee, or contractor whom you contact
            through areas of FieldEnable App that may be
            designated for that purpose is between you and that employer,
            employee, or contractor alone, and not with us. 
          %li
            You may not copy or use personal identifying or business contact
            information about other Users without their permission.
            Unsolicited e-mails, mailings, telephone calls, or other
            communications to individuals or companies whose contact
            details you obtain through the Service are prohibited.
      %li
        Disclaimer of Representations and Warranties - THE
        CONTENT AND ALL SERVICES AND PRODUCTS
        ASSOCIATED WITH FieldEnable App OR
        PROVIDED THROUGH THE SERVICE ARE PROVIDED TO
        YOU ON AN "AS-IS" AND "AS AVAILABLE" BASIS. FieldEnable App MAKES NO REPRESENTATIONS OR
        WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO
        THE CONTENT OR OPERATION OF
        FieldEnable App OR OF THE SERVICE.
        YOU EXPRESSLY AGREE THAT YOUR USE OF THE
        SERVICE IS AT YOUR SOLE RISK. FieldEnable App MAKES NO REPRESENTATIONS, WARRANTIES
        OR GUARANTEES, EXPRESS OR IMPLIED, REGARDING
        THE ACCURACY, RELIABILITY OR COMPLETENESS OF
        THE CONTENT ON Imaginnovate.com OR
        OF THE SERVICE, AND EXPRESSLY DISCLAIMS ANY
        WARRANTIES OF NON-INFRINGEMENT OR FITNESS FOR
        A PARTICULAR PURPOSE. Owner
        MAKES NO REPRESENTATION, WARRANTY OR
        GUARANTEE THAT THE CONTENT THAT MAY BE
        AVAILABLE THROUGH THE SERVICE IS FREE OF
        INFECTION FROM ANY VIRUSES OR OTHER CODE OR
        COMPUTER PROGRAMMING ROUTINES THAT CONTAIN
        CONTAMINATING OR DESTRUCTIVE PROPERTIES OR
        THAT ARE INTENDED TO DAMAGE, SURREPTITOUSLY
        INTERCEPT OR EXPROPRIATE ANY SYSTEM, DATA OR
        PERSONAL INFORMATION.
      %li
        Alert Disclaimer - You understand and agree that any alerts
        provided to you through the Service may be delayed or
        prevented by a variety of factors. Owner
        does its best to provide alerts in a timely manner with accurate
        information. However, we neither guarantee the delivery nor the
        accuracy of the content of any alert. You also agree that Owner  shall not be liable for any delays, failure to
        deliver, or misdirected delivery of any alert; for any errors in the
        content of an alert; or for any actions taken or not taken by you
        or any third party in reliance on an alert.
      %li
        Limitations on Owners Liability - . IN NO
        EVENT SHALL Owner (INCUDING
        ITS SUBSIDIARIES, DIRECTORS, OFFICERS, EMPLOYEES,
        REPRESENTATIVES AND AGENTS) BE LIABLE FOR ANY
        INDIRECT, SPECIAL, INCIDENTAL OR CONSEQUENTIAL
        DAMAGES WHATSOEVER, WHETHER ARISING IN
        CONTRACT OR TORT (INCLUDING NEGLIGENCE), OR
        RELATED TO THE USE OR INABILITY TO USE THE
        WEBSITES OR THE SERVICE, EVEN IF FieldEnable App HAS BEEN ADVISED OF THE POSSIBILITY OF
        SUCH DAMAGES. YOU AGREE THAT THE ENTIRE
        LIABILITY OF THE COMPANY (INCUDING ITS
        SUBSIDIARIES, DIRECTORS, OFFICERS, EMPLOYEES,
        REPRESENTATIVES AND AGENTS) UNDER THESE TERMS
        OF USE OR OTHERWISE IN CONNECTION WITH THE
        WEBSITES OR THE SERVICE SHALL NOT EXCEED, IN THE
        AGGREGATE, THE AMOUNTS PAID BY YOU TO the
        COMPANY IN THE PAST SIX MONTHS, OR Rs 5000,
        WHICHEVER IS GREATER. SOME JURISDICTIONS DO NOT
        ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR
        THE LIMITATION OR EXCLUSION OF LIABILITY FOR
        INCIDENTAL OR CONSEQUENTIAL DAMAGES.
        ACCORDINGLY, SOME OF THE ABOVE LIMITATIONS MAY
        NOT APPLY TO YOU AND YOU MAY HAVE ADDITIONAL
        RIGHTS. IN THAT CASE, COMPANY'S LIABILITY WILL BE
        LIMITED TO THE FULLEST EXTENT PERMITTED BY
        APPLICABLE LAW. THE EXCLUSIONS AND LIMITATIONS
        OF LIABILITY IN THESE TERMS OF USE WILL APPLY
        NOTWITHSTANDING ANY FAILURE OF ESSENTIAL
        PURPOSE OF ANY LIMITED REMEDY. THIS SECTION
        SHALL SURVIVE ANY EXPIRATION OR TERMINATION OF
        YOUR RELATIONSHIP WITH THE COMPANY.
      %li
        Your Indemnification of Owner - You shall
        defend, indemnify and hold harmless Owner
        and its officers, directors, shareholders, and employees, from
        and against all claims and expenses, including but not limited to
        attorneys fees, in whole or in part arising out of or attributable to
        any breach of this Agreement by you.
      %li
        Ending your relationship with Owner -
        This Agreement will continue to apply until terminated by either
        you or Owner as set out below. If you want to
        terminate your legal agreement with Owner,
        you may do so by closing your account for the Service. To
        cancel your account, contact your company representative. If you send an email,
        include your name, the email address you registered with, and
        a phone number you can be reached at. Your account will be
        canceled within 48 hours of your cancelation request.
      %li
        Owner may at any time, terminate its legal agreement with you:
        %ol{ type: 'a' }
          %li
            if you have breached any provision of this Agreement (or
            have acted in a manner which clearly shows that you do not
            intend to, or are unable to comply with the provisions of this
            Agreement);
          %li
            if Owner in its sole discretion believes it is required to do so by law (for example, where the provision of
            the Service to you is, or becomes, unlawful); or
          %li
            immediately upon notice, to the e-mail address provided by you as part of your Registration Information.
      %li
        Modifications - Owner may modify this Agreement from time to time. You will be notified of any and all
        changes to this Agreement through a prominent notice on the
        Imaginnovate.com site. In addition, the Agreement
        will always indicate the date it was last revised. You are
        deemed to accept and agree to be bound by any changes to
        the Agreement when you use the Service after those changes
        are posted.
      %li
        Governing Law and Forum for Disputes - This Agreement, and your relationship with Owner under this
        Agreement, shall be governed by the laws of the State of
        Andhra Pradesh, in the District of Visakhapatnam, without regard to its conflict
        or choice of law provisions. Any dispute with FieldEnable App or its officers, directors, employees, agents or
        affiliates, arising under or in relation to this Agreement shall be
        resolved exclusively through the district court in Visakhapatnam, except with respect to imminent harm
        requiring temporary or preliminary injunctive relief in which case
        Owner may seek such relief in any court with
        jurisdiction over the parties. You understand that, in return for
        agreement to this provision, Owner is able to
        offer the Service at the terms designated, without charge to
        you, and that your assent to this provision is an indispensable
        consideration to this Agreement. You also acknowledge and
        understand that, with respect to any dispute with FieldEnable App, its officers, directors, employees, agents or
        affiliates, arising out of or relating to your use of the Service or
        this Agreement:
      %li
        YOU ARE GIVING UP YOUR RIGHT TO HAVE A TRIAL BY
        JURY; and YOU ARE GIVING UP YOUR RIGHT TO SERVE
        AS A REPRESENTATIVE, AS A PRIVATE ATTORNEY
        GENERAL, OR IN ANY OTHER REPRESENTATIVE
        CAPACITY, OR TO PARTICIPATE AS A MEMBER OF A
        CLASS OF CLAIMANTS, IN ANY LAWSUIT INVOLVING ANY
        SUCH DISPUTE.
      %li
        Miscellaneous - If any portion of this Agreement is deemed
        unlawful, void or unenforceable by any arbitrator or court of
        competent jurisdiction, this Agreement as a whole shall not be
        deemed unlawful, void or unenforceable, but only that portion of
        this Agreement that is unlawful, void or unenforceable shall be
        stricken from this Agreement. You agree that if FieldEnable App does not exercise or enforce any legal right or remedy
        which is contained in the Agreement (or which FieldEnable App has the benefit of under any applicable law), this will
        not be taken to be a formal waiver of Owner's
        rights and that those rights or remedies will still be available to
        Owner. All covenants, agreements,
        representations and warranties made in this Agreement shall
        survive your acceptance of this Agreement and the termination
        of this Agreement. This Agreement represents the entire
        understanding and agreement between you and FieldEnable App regarding the subject matter of the same,
        and supersedes all other previous agreements.
      %li
        Owner's Payment Methods – FieldEnable App allows you to make your purchases using
        any of the payment methods supported by us. Please read
        carefully our policies with respect to payment methods before
        you place your order. If you subscribe to a service then you will
        be liable to monthly charges until you cancel those services by

        notifying our office. The company will not provide any refunds
        for partial months used.
      %li
        Alert Disclaimer - You understand and agree that any alerts
        provided to you through the Service may be delayed or
        prevented by a variety of factors. Owner
        does its best to provide alerts in a timely manner with accurate
        information. However, we neither guarantee the delivery nor the
        accuracy of the content of any alert. You also agree that Owner  shall not be liable for any delays, failure to
        deliver, or misdirected delivery of any alert; for any errors in the
        content of an alert; or for any actions taken or not taken by you
        or any third party in reliance on an alert.
      %li
        Return and Refund Policy - If you are not satisfied with your
        Owner purchase of a product or service,
        please visit online order status or email our support office at
        digital@imaginnovate.com for a Return Material
        Authorization (RMA) request within 14 calendar days of the
        receipt of the product. Configure-to-order, personalized or other
        customized products may not be returned for refund or
        exchange under any circumstances unless such product is
        expired. If the item is returnable and you send it back to us
        unopened in the original box, Owner will offer
        you a refund. All products must be packed in the
        original, unmarked packaging including any accessories,
        manuals, documentation and registration that shipped with the
        product. Owner will assess a 15% restocking
        fee on any opened item or accessory.
      %li
        Headings - The headings in the Agreement are descriptive only
        and in the event of a conflict between a heading and the
        underlying terms of this Agreement, the terms of these Terms
        shall control.
      %li
        Entire Agreement - Users agree that these Terms including
        the policies and agreements it refers to (i.e. our Privacy Policy)
        constitute the complete and only Agreement between the user
        and Owner regarding the Services
        contemplated herein.
      %li
        Severability - Users agree that these Terms are severable. If
        any part of these Terms are determined to be unenforceable or
        invalid, that part of the agreement will be interpreted in
        accordance with applicable law as closely as possible, in line
        with the original intention of both parties to the Agreement. The
        remaining terms and conditions of the Agreement will remain in
        full force and effect.
      %li
        Waiver - The failure of Owner to enforce any
        of the provisions of these Terms or its incorporated agreements
        and policies against users or others shall not be construed to
        be a waiver of the right of Owner thereafter to
        enforce such provisions.
      %li
        Force Majeure - Owner will make every
        effort to keep Owner operational. However,
        certain technical difficulties and other factors outside of its
        control may, from time to time, result in temporary service
        interruptions. Users agree not to hold Owner
        liable for any of the consequences of such interruptions.
      %li
        No Third Party Beneficiaries - Nothing in this Agreement,
        express or implied, is intended to confer upon any third party
        any rights, remedies, obligations, or liabilities under or by
        reason of these Terms, except as expressly provided in this
        Agreement.
      %li
        By Agreeing to these Terms and Conditions You agree to receive all promotional, Transactional and Commercial Communications from Owner through email or SMS.